<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
	<title>Users table</title>
</head>
<body>
<div th:replace="~{admin/modal-edit::modal-edit}"/>
<div th:replace="~{admin/modal-delete::modal-delete}"/>
<header th:replace="~{navbar.html::logout}"/>

<div class="container-fluid">
	<div class="row mt-3">
		<div class="col-md-2 d-flex flex-column pl-0">
			<!-- Начало первого (бокового) таблиста-->
			<div class="nav flex-column nav-pills" id="aSide-menu" role="tablist" aria-orientation="vertical">
				<a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link active" id="v-pills-admin-tab" data-toggle="pill"
				   href="#v-pills-admin" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin</a>
				<a sec:authorize="hasRole('ROLE_USER')" class="nav-link" id="v-pills-user-tab" data-toggle="pill"
				   href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
			</div>
		</div>
		<!-- Контент бокового таблиста -->
		<div class="col">
			<row>
				<div class="tab-content" id="aSide-menu-tabContent">
					<!-- Страница Admin -->
					<div sec:authorize="hasRole('ROLE_ADMIN')" class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
						<h2 class="font-weight-bold">Admin panel</h2>

						<!-- Вкладки -->
						<ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link active" id="usersTable-tab" data-toggle="tab" href="#usersTable"
								   role="tab" aria-controls="usersTable" aria-selected="true">Users table</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="newUser-tab" data-toggle="tab" href="#newUser"
								   role="tab" aria-controls="newUser" aria-selected="false">New User</a>
							</li>
						</ul>

						<div class="row">
							<div class="col">
								<div class="tab-content" id="myTab">
									<!-- Users Table -->
									<div class="tab-pane fade show active" id="usersTable"
										 role="tabpanel" aria-labelledby="usersTable-tab">
										<!-- users-table.html -->
										<div th:replace="~{admin/users-table::users-table}"/>
									</div>
									<!-- Конец UsersTable -->

									<!-- New User -->
									<div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
										<!-- new-user.html -->
										<div th:replace="~{admin/new-user::new-user}"/>
									</div>
									<!-- Конец New User -->
								</div>
							</div>
						</div>
					</div>
					<!-- Конец страницы Admin -->

					<!-- Страница User - боковое меню -->
					<div sec:authorize="hasRole('ROLE_USER')" class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
						<h2 class="h2 font-weight-bold mb-3">User information-page</h2>

						<div class="card-body">
							<table class="table table-hover w-100">
								<thead>
								<tr>
									<th>ID</th>
									<th>First name</th>
									<th>Last name</th>
									<th>Age</th>
									<th>Email</th>
									<th>Role</th>
								</tr>
								</thead>
								<tbody>
									<td th:text="${userInfo.id}"></td>
									<td th:text="${userInfo.firstName}"></td>
									<td th:text="${userInfo.lastName}"></td>
									<td th:text="${userInfo.age}"></td>
									<td th:text="${userInfo.email}"></td>
									<td>
										<span th:each="role : ${authRoles}" th:text="${role + ' '}"></span>
									</td>
								</tbody>
							</table>
						</div>
					</div>
					<!-- Конец страница User - боковое меню -->
				</div>
			</row>
		</div>
	</div>
</div>
<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js" ></script>
<script type="text/javascript" src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/main.js/" th:src="@{/main.js}"></script>
</body>
</html>