<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>New user</title>
</head>
<body>
<div th:fragment="new-user" class="card">
	<h5 class="card-header h5">Add new user</h5>
	<div class="card-body">
		<div class="col-lg-3 mx-auto" id="newUser">
			<form method="POST">
				<div class="form-group d-flex flex-column">
					<label class="text-center font-weight-bold" for="newFirstName">First name</label>
					<input class="form-control form-control-sm erase" type="text" id="newFirstName" required>
				</div>
				<div class="form-group d-flex flex-column">
					<label class="text-center font-weight-bold" for="newLastName">Last name</label>
					<input class="form-control form-control-sm erase" type="text" id="newLastName"
						   required>
				</div>
				<div class="form-group d-flex flex-column">
					<label class="text-center font-weight-bold" for="newAge">Age</label>
					<input class="form-control form-control-sm erase" type="number" min="1" max="120" id="newAge">
				</div>
				<div class="form-group d-flex flex-column">
					<label class="text-center font-weight-bold" for="newEmail">Email</label>
					<input class="form-control form-control-sm erase" type="text"  id="newEmail" required>
				</div>
				<div class="form-group d-flex flex-column">
					<label class="text-center font-weight-bold" for="newPassword">Password</label>
					<input class="form-control form-control-sm erase" type="password" id="newPassword"
						   required>
				</div>
				<div class="d-flex flex-column">
					<label class="text-center font-weight-bold" for="newRolesSelector">Role</label>
					<select class="custom-select" size="2"  multiple required id="newRolesSelector">
						<option value="ROLE_ADMIN">ADMIN</option>
						<option value="ROLE_USER">USER</option>
					</select>
				</div>
				<div class="form-group mt-3">
					<button type="submit" class="btn btn-success d-block mx-auto" id="btnNewUserConfirm">Add new user</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>
