<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
	<title>Users table</title>
</head>
<body>
<div th:replace="~{navbar.html::logout}"/>
<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item" role="presentation">
		<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Главная</a>
	</li>
	<li class="nav-item" role="presentation">
		<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Профиль</a>
	</li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
	<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
</div>






	<script src="webjars/jquery/3.5.1/jquery.min.js" ></script>
	<script src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>