<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--	<meta charset="UTF-8">-->
<!--	<title>User</title>-->
<!--</head>-->
<!--<body>-->
<!--	<div th:replace="~{navbar.html::logout}"/>-->
<!--	<h2>Hi, <span th:text="${user.firstName}"></span></h2>-->
<!--	<p>Name and surname:</p>-->
<!--	<p th:text="${user.firstName} + ' ' + ${user.lastName}">firstName + lastName</p>-->
<!--	<br>-->
<!--	<p>Age:</p>-->
<!--	<p th:text="${user.age}">roles</p>-->
<!--	<br>-->
<!--	<p>Password:</p>-->
<!--	<p th:text="${user.password}">roles</p>-->
<!--	<br>-->
<!--	<p>Roles:</p>-->
<!--	<p th:text="${user.roles}">roles</p>-->
<!--</body>-->
<!--</html>-->