<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit User</title>
</head>
<body>
	<div th:replace="~{logout.html::logout}"/>
	<h2>Edit user</h2>
	<form th:method="PATCH" action="#" th:action="@{/admin/users/{id}/edit(id=${user.getId()})}" th:object="${user}">
		<div>
			<label for="firstName">First name</label>
			<input type="text" th:field="*{firstName}" id="firstName" placeholder="First name">
		</div>
		<div>
			<label for="lastName">Last name</label>
			<input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name">
		</div>
		<div>
			<label for="age">Age</label>
			<input type="text" th:field="*{age}" id="Age" placeholder="age">
		</div>
		<div>
			<label for="password">Password</label>
			<input type="text" th:field="*{password}" id="password" placeholder="Password">
		</div>
		<div>
			<p th:text="${user.getRoles()}"></p>
		</div>
		<div>
			<input type="submit" value="Save">
		</div>
		<div>
			<a href="/admin/users">Назад</a>
		</div>
	</form>
</body>
</html>