<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
	<title>Login</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class=" col-sm-6 col-md-4 col-lg-3 mx-auto">
			<div class="mt-5">
				<h3 class="h3"><b>Please sign in</b></h3>
			</div>
			<form class="form-group mt-2" method="post" action="/login">
				<input type="text" class="form-control" name="j_username" placeholder="Email address"/>
				<input type="password" class="form-control" name="j_password" placeholder="Password"/>
				<input class="btn btn-primary btn-block mt-2" type="submit" value="Sign in"/>
			</form>
		</div>
	</div>
</div>
<script src="webjars/jquery/3.5.1/jquery.min.js" ></script>
<script src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>